---
import '../styles/global.css';
import { injectAnimationStyles } from '../utils/scrollAnimations';
injectAnimationStyles();
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kori Café - Revolución del café boliviano</title>
<link rel="icon" href="./favicon.png">
<meta name=" description" content= "Kori Café es un café molido de origen boliviano, presentado en sobres individuales, que contienen 100 ml de café tipo expreso. Está elaborado con granos seleccionados de Coripata, Yungas — una zona cafetalera reconocida por su sabor, aroma y tradición.

El producto combina calidad, practicidad e identidad cultural. Su presentación individual facilita el consumo diario en casa, en el trabajo o donde estés, sin perder el sabor auténtico de un café boliviano. " >
  <script>
    // Inicializa animaciones al cargar
    document.addEventListener('DOMContentLoaded', () => {
      import('../utils/scrollAnimations.js').then(module => {
        module.registerAnimations();
      });
    });
  </script>
</head>
<body class="font-sans bg-kori-light text-kori-dark antialiased">
  <slot />
</body>
</html>
